/**FONTS**/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/** OVERALL STYLING **/
.library {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
}

.sidebar {
    background-color: rgb(86, 174, 222);
    padding: 1.5rem;
}

.content {
    background-color: rgba(226, 232, 240);
    padding: 1.5rem;
}

* {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}


/** HEADER STYLING **/
.header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(images/header-images/isaac-benhesed-RqtElNpHcs8-unsplash.jpg);
    background-color: rgb(0 0 0 / 0.6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header__logo {
    background-color: rgba(250, 204, 21, 0.8);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__greeting>p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
}

.header__greeting>p:last-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.header__logo>img {
    height: 70%;
    width: 70%;
}


.header__actions>button {
    border-radius: 1.2rem;
    border: none;
    background-color: rgba(25, 146, 212, 0.9);
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem;
}

button:hover {
    background-color: rgba(0, 195, 255, 0.9);
}

/** TEMP STYLING **/

img {
    height: 1.5rem;
    width: 1.5rem;
}