/**FONTS**/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/** OVERALL STYLING **/
.header {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
}

.sidebar {
    background-color: rgb(86, 174, 222);
    padding: 1.5rem;
}

.content {
    background-color: rgba(226, 232, 240);
    padding: 1.5rem;
}

* {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(25, 146, 212, 0.9);
    color: white;
    font-weight: 500;
    padding: 0.3rem;
}

/** HEADER STYLING **/
.header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(images/header-images/isaac-benhesed-RqtElNpHcs8-unsplash.jpg);
    background-color: rgb(0 0 0 / 0.6);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header__logo {
    background-color: rgba(250, 204, 21, 0.8);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__greeting>p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
}

.header__greeting>p:last-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.header__logo>img {
    height: 70%;
    width: 70%;
}

.header__actions>button {
    border-radius: 1.2rem;
    border: none;
    background-color: rgba(25, 146, 212, 0.9);
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem;
}

.header__actions-button:hover {
    background-color: rgba(0, 195, 255, 0.9);
}

/** SIDEBAR STYLING **/
.sidebar__logo-dashboard {
    width: 4.5rem;
    height: 4.5rem;
}

.sidebar__title span {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.sidebar__link {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.sidebar__link img {
    height: 2rem;
    width: 2rem;
}

/** CONTENT STYLING **/

.books__title {
    font-size: 1.5rem;
}

.book {
    border-left: 6px solid rgb(240, 180, 41);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
}

.author {
    font-weight: 500;
    font-size: 1rem;
}

.subtitle {
    font-size: 1rem;
}

/** EXTRA STYLING **/
.deleteButton:hover,
.dialog__button-cancel:hover {
    background-color: rgba(255, 100, 100, 0.9);
}

.statusButton:hover,
.dialog__button-confirm:hover {
    background-color: rgba(0, 195, 255, 0.9);
}