/**OVERALL GRID **/
.library__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/** OVERALL GRID **/
.header {
    grid-row: 1/2;
    grid-column: 2/3;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
}

.content {
    grid-row: 2/3;
    grid-column: 2/3;
}

/** HEADER **/
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header__profile {
    grid-column: 1/2;
    gap: 1.5rem;
}

.header__actions {
    grid-column: 2/3;
}

.header__profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header__logo {
    grid-column: 1/2;
}

.header__greeting {
    grid-column: 2/3;
}