/**OVERALL GRID **/
.library__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

/** OVERALL GRID **/
.header {
    grid-row: 1/2;
    grid-column: 2/3;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    /* allow it to shrink within the 1fr track */
    min-height: 0;
    /* scroll if inner content is taller than its track */
    overflow-y: auto;
}

/** HEADER GRID **/
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header__profile {
    grid-column: 1/2;
    gap: 1rem;
}

.header__actions {
    grid-column: 2/3;
}

.header__profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header__logo {
    grid-column: 1/2;
}

.header__greeting {
    grid-column: 2/3;
}

/** SIDEBAR GRID **/
.sidebar {
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 1rem;
}

.sidebar__title {
    grid-row: 1/2;
}

.sidebar__nav {
    grid-row: 2/3;
}

.sidebar__title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.sidebar__nav {
    height: 50%;
    display: grid;
    grid-template-rows: 4fr 3fr;
    gap: 7rem;
}

.sidebar__menu--primary {
    grid-row: 1/2;
}

.sidebar__menu--secondary {
    grid-row: 2/3;
}

.sidebar__menu--primary {
    display: grid;
    gap: 1rem;
}

.sidebar__menu--secondary {
    display: grid;
    gap: 1rem;
}

.sidebar__link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

/** CONTENT GRID **/
.books {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.books__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: minmax(270px, auto);
    gap: 1rem;
}

.book {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    gap: 0.5rem;
}